In [1]:
### Economic Development Capstone

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as mticker
import hashlib
from sklearn.model_selection import train_test_split
import scipy.stats as stats
import statistics

%matplotlib inline

pd.options.display.float_format = '{:.2f}'.format #Stop displaying scientific notation
pd.set_option('display.max_columns', None) #Display all columns

### Load Data:

In [2]:
df = pd.read_csv("ct_data.csv")

### Rename Columns

In [3]:
df.columns

Index(['Fiscal Year', 'Company Name', 'Company Address', 'Municipality',
       'County 1', 'State', 'Zip Code', 'Business Industry', 'NAICS Code',
       'Minority/ Woman/ Veteran/ International Export',
       'Contract Execution Date', 'Grant Amount', 'Loan Amount',
       'Total Assistance ', 'Total Project Cost', 'Amount Leveraged',
       'Funding Source', 'Statutory Reference',
       'Per Contract: Full-Time CT Jobs to be Retained',
       'Per Contract: Full-Time CT Jobs to be Created',
       'Per Contract: Part-Time CT Jobs to be Retained',
       'Per Contract: Part-Time CT Jobs to be Created',
       'Actual Jobs at Time of Review', 'Job Obligation Status',
       'Penalty (if applicable)', 'Forgiveness Earned (if applicable)',
       'Per Application: Existing Full-Time Jobs in CT',
       'Per Application: Full-Time Jobs to be Created in CT',
       'Per Application: Existing Part-Time Jobs in CT',
       'Per Application: Part Time Jobs to be Created in CT',
       'Full-Time CT Employment at 6/30/20',
       'Part-Time CT Employment at 6/30/20', 'Status', 'Location 1', 'Count',
       'Geocoded Location', 'Planning Regions', 'Counties', 'Zip Code 2',
       'Town Index'],
      dtype='object')

In [4]:
#Rename columns
df.rename({'Fiscal Year': 'fiscal_year', 'Company Name': 'company_name', 'Company Address':'company_address',
               'Municipality': 'municipality', 'County 1':'county', 'State':'state',
              'Zip Code':'zip_code', 'Business Industry':'company_industry', 'NAICS Code':'naics_code',
              'Minority/ Woman/ Veteran/ International Export':'min_wom_vet_int','Contract Execution Date':'contract_execution_date',
              'Grant Amount':'grant_amount', 'Loan Amount':'loan_amount',
              'Total Project Cost': 'total_project_cost','Amount Leveraged':'company_funding',
              'Funding Source':'program', 'Statutory Reference':'stat_ref',
              'Per Contract: Full-Time CT Jobs to be Retained':'p_ft_job_retention',
              'Per Contract: Full-Time CT Jobs to be Created':'p_ft_job_creation',
              'Per Contract: Part-Time CT Jobs to be Retained':'p_pt_job_retention',
              'Per Contract: Part-Time CT Jobs to be Created':'p_pt_job_creation',
              'Actual Jobs at Time of Review':'actual_jobs', 'Job Obligation Status':'job_obligation_status',
              'Penalty (if applicable)':'penalty', 'Forgiveness Earned (if applicable)':'forgiveness',
              'Per Application: Existing Full-Time Jobs in CT':'existing_ft_jobs',
              'Per Application: Full-Time Jobs to be Created in CT':'original_ft_job_creation',
              'Per Application: Existing Part-Time Jobs in CT':'existing_pt_jobs',
              'Per Application: Part Time Jobs to be Created in CT':'original_pt_job_creation',
              'Full-Time CT Employment at 6/30/20':'full_time_630',
              'Part-Time CT Employment at 6/30/20':'part_time_630',
              'Status':'status', 'Location 1':'location1', 'Count':'count',
              'Geocoded Location':'geo_location', 'Planning Regions':'planning_region',
              'Counties':'counties', 'Zip Code 2':'zipcode2', 'Town Index':'town_index',
              'Total Assistance ':'tot_assistance'
              }, axis=1, inplace=True)

In [5]:
df

,fiscal_year,company_name,company_address,municipality,county,state,zip_code,company_industry,naics_code,min_wom_vet_int,contract_execution_date,grant_amount,loan_amount,tot_assistance,total_project_cost,company_funding,program,stat_ref,p_ft_job_retention,p_ft_job_creation,p_pt_job_retention,p_pt_job_creation,actual_jobs,job_obligation_status,penalty,forgiveness,existing_ft_jobs,original_ft_job_creation,existing_pt_jobs,original_pt_job_creation,full_time_630,part_time_630,status,location1,count,geo_location,planning_region,counties,zipcode2,town_index
0,2012,"Suffield Village Dental, P.C.",215 Suffield Village,Suffield,Hartford,CT,6078.00,Service,621210,No,05/17/2012,25238.00,0.00,25238.00,50476.00,25238.00,Small Business Express Program,CGS Sec. 32-7g,0,1,0,0,9,Met,NaN,NaN,7,1,0,0,NaN,NaN,Active,215 Suffield Village,1,NaN,NaN,NaN,NaN,NaN
1,2013,"Berkshire Concrete Cutting, LLC",3595 Winston Road,Torrington,Litchfield,CT,6790.00,Poured Concrete Foundation & Structure Contrac...,238110,No,09/24/2012,100000.00,0.00,100000.00,200000.00,100000.00,Small Business Express Program,CGS Sec. 32-7g,2,0,0,0,10,Met,NaN,NaN,2,0,0,0,NaN,NaN,Active,3595 Winston Road,1,NaN,NaN,NaN,NaN,NaN
2,2013,"Maritime Motors of Fairfield, Inc.",P.O. Box 118,Weare,NaN,NH,3281.00,New Car Dealers,441110,No,08/01/2012,100000.00,0.00,100000.00,533000.00,433000.00,Small Business Express Program,CGS Sec. 32-7g,46,2,0,0,50,Met,NaN,NaN,46,2,0,0,NaN,NaN,Active,P.O. Box 118,1,NaN,NaN,NaN,NaN,NaN
3,2014,"Green Power Solutions, Inc.",P.O. Box 501,Woodstock,Windham,CT,6281.00,Cleantech,238220,No,12/23/2013,0.00,100000.00,100000.00,100000.00,0.00,Small Business Express Program,CGS Sec. 32-7g,1,5,0,0,0,Not Met,from 2% to 3%,NaN,1,11,0,0,NaN,NaN,Active,P.O. Box 501,1,NaN,NaN,NaN,NaN,NaN
4,2016,"Adam Equipment, Inc.",1 Fox Hollow Road,Danbury,Fairfield,CT,6810.00,Direct Sells Marketing,454390,No,11/10/2015,100000.00,300000.00,400000.00,2931476.00,2531476.00,Small Business Express Program,CGS Sec. 32-7g,17,5,0,0,22,Met,NaN,NaN,17,6,0,0,NaN,NaN,Active,1 Fox Hollow Road,1,"1 Fox Hollow Road\r\nDanbury, CT 06810\r\n(41....",9.00,1040.00,45.00,91.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2181,2012,"P.S.I. Plus, Inc.",10 Bevin Road,East Hampton,Middlesex,CT,6424.00,Manufacturing,332110,No,06/26/2012,100000.00,0.00,100000.00,201000.00,101000.00,Small Business Express Program,CGS Sec. 32-7g,7,0,0,0,6,Not Met,"$1,000",NaN,7,0,0,0,NaN,NaN,Active,10 Bevin Road,1,"10 Bevin Road\r\nEast Hampton, CT 06424\r\n(41...",3.00,1043.00,273.00,42.00
2182,2015,"Concentric Tool & Manufacturing Company, Inc.",550 Spring Street,Naugatuck,New Haven,CT,6770.00,Machine Shop,332710,No,11/06/2014,100000.00,0.00,100000.00,200000.00,100000.00,Small Business Express Program,CGS Sec. 32-7g,18,3,0,0,14,Not Met,"$ 33,334.00",OOB,18,3,0,0,NaN,NaN,Out of Business- confirmed,550 Spring Street,1,"550 Spring Street\r\nNaugatuck, CT 06770\r\n(4...",4.00,1044.00,169.00,88.00
2183,2016,"U.S. Glass Distributors, Inc.",7 Niblick Road,Enfield,Hartford,CT,6082.00,Glass Manufacturer and Distributor,423120,Yes Woman,02/18/2016,0.00,300000.00,300000.00,500825.00,200825.00,Small Business Express Program,CGS Sec. 32-7g,32,3,0,0,Pending,Pending,NaN,NaN,32,3,0,0,NaN,NaN,Active,7 Niblick Road,1,"7 Niblick Road\r\nEnfield, CT 06082\r\n(41.978...",1.00,1041.00,108.00,49.00
2184,2019,"Pieszak-Miller & Brodeur, LLC","100 Essex Street 2E, P.O. Box 173",West Mystic,New London,CT,6388.00,Law Firm,541110,Yes Woman,06/04/2019,100000.00,300000.00,400000.00,500919.00,100919.00,Small Business Express Program,CGS Sec. 32-7g,7,10,0,0,Pending,Pending,NaN,NaN,7,10,0,0,4,1.00,Active,"100 Essex Street 2E, P.O. Box 173",1,"100 Essex Street 2E, P.O. Box 173\r\nWest Myst...",8.00,1045.00,135.00,59.00
2185,2015,"Astor Dental Laboratory, LLC","369 New Britain Road, Suite 9A",Berlin,Hartford,CT,6037.00,Dental Laboratory,339116,No,10/03/2014,50000.00,68000.00,118000.00,186000.00,68000.00,Small Business Express Program,CGS Sec. 32-7g,0,2,0,0,2,Met,NaN,NaN,1,4,0,0,NaN,NaN,Active,"369 New Britain Road, Suite 9A",1,"369 New Britain Road, Suite 9A\r\nBerlin, CT 0...",1.00,1041.00,253.00,7.00

In [6]:
## Examining Status Column

Now we need to rename these various statuses so they match up with our Iowa data.

In [7]:
# Success = 2
# Failure = 0
# Pending = 1

df['status'].replace({'Active':'1'}, inplace=True)
df['status'].replace({'Compliance Complete':'2'}, inplace=True)
df['status'].replace({'Out of Business- written off':'0'}, inplace=True)
df['status'].replace({'Out of Business- confirmed':'0'}, inplace=True)
df['status'].replace({'Out of Business- Not written off':'0'}, inplace=True)
df['status'].replace({'Out of Business- not written off':'0'}, inplace=True)
df['status'].replace({'Repaid':'0'}, inplace=True)
df['status'].replace({'Out of Business':'0'}, inplace=True)
df['status'].replace({'Out of Business- Loan repaid in full':'0'}, inplace=True)
df['status'].replace({'Released':'0'}, inplace=True)
df['status'].replace({'OOB':'0'}, inplace=True)
df['status'].replace({'Out of business- confirmed':'0'}, inplace=True)
df['status'].replace({'Repaid early- Released':'0'}, inplace=True)
df['status'].replace({'Out of business- written off':'0'}, inplace=True)
df['status'].replace({'Repaid early- Released 10/2018':'2'}, inplace=True)
df['status'].replace({'Released 10/2017':'2'}, inplace=True)
df['status'].replace({'Repaid 1/8/2015':'2'}, inplace=True)
df['status'].replace({'Repaid early released 6/18/2018':'2'}, inplace=True)
df['status'].replace({'Out of Business- repaid':'2'}, inplace=True)
df['status'].replace({'Released 12/20/2018':'2'}, inplace=True)
df['status'].replace({'Compliance complete':'2'}, inplace=True)
df['status'].replace({'Company sold to Leggett & Platt':'0'}, inplace=True)
df['status'].replace({'Repaid 11/3/2017':'2'}, inplace=True)
df['status'].replace({'Active- Loan repaid but still w/in 10 years':'2'}, inplace=True)
df['status'].replace({'Repaid 12/31/2017':'2'}, inplace=True)
df['status'].replace({'Released 9/2/2015':'2'}, inplace=True)
df['status'].replace({'Repaid early- Released 10/2013':'2'}, inplace=True)
df['status'].replace({'Out of Business- Confirmed':'0'}, inplace=True)

df['status'].value_counts()

P    1566
S     492
F     109
Name: status, dtype: int64

In [8]:
## Drop Unnecessary Columns

In [9]:
df.drop(columns=['counties', 'zipcode2', 'town_index', 'planning_region', 'geo_location', 'count',
                 'location1', 'part_time_630', 'full_time_630', 'original_pt_job_creation',
                'existing_pt_jobs', 'original_ft_job_creation', 'existing_ft_jobs', 'forgiveness',
                'penalty', 'contract_execution_date', 'min_wom_vet_int',
                'business_industry', 'county_1', 'municipality', 'company_address',
                 'company_name', 'fiscal_year', 'zip_code'], inplace=True)
df.head(5)

,state,naics_code,grant_amount,loan_amount,tot_assistance,total_project_cost,amount_leveraged,funding_source,stat_ref,p_ft_job_retention,p_ft_job_creation,p_pt_job_retention,p_pt_job_creation,actual_jobs,job_obligation_status,status
0,CT,621210,25238.00,0.00,25238.00,50476.00,25238.00,Small Business Express Program,CGS Sec. 32-7g,0,1,0,0,9,Met,1
1,CT,238110,100000.00,0.00,100000.00,200000.00,100000.00,Small Business Express Program,CGS Sec. 32-7g,2,0,0,0,10,Met,1
2,NH,441110,100000.00,0.00,100000.00,533000.00,433000.00,Small Business Express Program,CGS Sec. 32-7g,46,2,0,0,50,Met,1
3,CT,238220,0.00,100000.00,100000.00,100000.00,0.00,Small Business Express Program,CGS Sec. 32-7g,1,5,0,0,0,Not Met,1
4,CT,454390,100000.00,300000.00,400000.00,2931476.00,2531476.00,Small Business Express Program,CGS Sec. 32-7g,17,5,0,0,22,Met,1

## Add new derived columns

In [12]:
#We have a few rows with this See EXP column. Need to remove those
df = df[df['p_ft_job_creation'].str.contains("See EXP")==False]
df = df[df['p_ft_job_creation'].str.contains("-")==False]

#Convert projected jobs to int so they can be added together
df['projected_jobs_total'] = df['p_ft_job_creation'].astype(float) + df['p_pt_job_creation'].astype(float)

In [ ]:
df

In [ ]:
#df['job_obligation_status'] = df['job_obligation_status'].replace(['Met'],'2')
# Adding new columns
df_suc['project_type'] = '2' #Success = 2
df_can['project_type'] = '0' #Cancelled = 0
df_wip['project_type'] = '1' #WIP = 1

In [ ]:
# Make a copy of the df
X = df.copy()

#Drop our response column from the X df
X = X.drop(columns='project_type')

#Need this for labels later
X_labels = X

#Create our y/response df
y = df['project_type']

In [ ]:
#One hot encode X
# create an object of the OneHotEncoder
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False)

X = ohe.fit_transform(X)

In [ ]:
#Scale data

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)

In [ ]:
#Create train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
#Remember to always work on the train set

In [ ]:
#Create and fit model
from sklearn.tree import DecisionTreeClassifier

tree_clf = DecisionTreeClassifier()
tree_clf.fit(X_train, y_train)

In [ ]:
from sklearn.metrics import accuracy_score

#Make prediction and check accuracy score
preds = tree_clf.predict(X_test)
acc_score = accuracy_score(preds, y_test)
print('Accuracy=%s' % (acc_score))

In [ ]:
#Grid Search

from sklearn.model_selection import GridSearchCV

#Create dictionary
param_grid = {'max_depth': [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], 'max_leaf_nodes': [2, 3, 4, 5, 6, 7, 8, 9, 10], 'min_samples_split': [2,3,4,5, 6, 7, 8]}

#Create GridSearch
grid_search_cv = GridSearchCV(tree_clf, param_grid, verbose=1, cv=3)
grid_search_cv.fit(X_train, y_train)

#Print out best parameters
print(grid_search_cv.best_params_)

print("The best parameters are: ", "max_depth: 2, max_leaf_nodes: 2, min_samples_split: 2")

In [ ]:
from sklearn.tree import export_text

tree_clf2 = DecisionTreeClassifier(max_depth=6, max_leaf_nodes = 7, min_samples_split = 8)
tree_clf2.fit(X, y)
cols = ohe.get_feature_names(input_features=X_labels.columns)
print(export_text(tree_clf2))

from sklearn.tree import plot_tree
import matplotlib.pyplot as plt

#Plot figure
plt.figure(figsize=(30,20))
plot_tree(tree_clf2, filled=True, feature_names=cols);